@{
    <h2>User Form</h2>
    <form method="post">
        <label>User Name:</label><br />
        <input type="text" name="Name" /><br />
        <label>User Age:</label><br />
        <input type="number" number="Age" /><br />
        <label>User DateOfBirth:</label><br />
        <input type="text" name="DateOfBirth" /><br />
        <label>User Address:</label><br />
        <input type="text" name="Address" /><br />
        <input type="submit" value="Send" />
    </form>
}
